<link rel="stylesheet" type="text/css" href="/stylesheets/contents.css"> 

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

<div class="container">
    <table id="table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {{#each contents}}
            <tr>
                <td><a href="">{{this}}</a></td>
                <td>Size will go here.</td>
                <td>Last Modified will go here.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

