
<link rel="stylesheet" type="text/css" href="/stylesheets/folders.css">
<link rel="icon" href="https://addons-dev-cdn.allizom.org/favicon.ico">


<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">SecureFTP Info</h4>
              <p class="text-muted">A better way to transfer secure data so you can focus on what matters. Take advantage of SecureFTP's simple web interface to store, transfer, and retrieve your data, any time, from anywhere on the web.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Submit a Request</a></li>
                <li><a href="#" class="text-white">Technical Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/folder-20.png" style="padding: 0px 5px 0px 0px;">
            <strong>Folders</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Your Folders</h1>
          <p class="lead text-muted">Below you will see a list of the folders that you can access, upload new data, and download existing data. To access the contents of a particular folder, click the corresponding 'View' button.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">New Transfer Request</a>
            <a href="#" class="btn btn-secondary my-2">Upload Documents</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          
            
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/folder-saved-search-512.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><p>You are registered with an email address of {{username}}</p></p>
                      <button type="button" class="btn btn-block btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>