<div class="container">
    <div class="alert alert-info center-block text-center" role="alert">
      {{{messages}}}
          {{#if errors}} 
              {{#each errors}}
                  {{msg}}
              {{/each}} 
          {{/if}}
      <div>
          <a href="/" class="btn btn-secondary my-2">Home</a>
      </div>
      
    </div>
</div>
