<div class="container">
    <div class="alert alert-warning center-block text-center" role="alert">
      {{#if messages.info}}
        {{messages.info}}
      {{/if}}
      <div>
          <a href="/" class="btn btn-secondary my-2">Home</a>
      </div>
      
    </div>
</div>
